# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# build stuffs
/cmake-build-debug/
# clion
/.idea
# macos
.DS_Store